<h2> Carros </h2>

<h3>
Volkswagen anuncia novo ciclo de investimentos de R$ 7 bilhões até 2026; primeiro carro será o Polo Track (novo Gol?) em 2023
</h3>

<p>
A Volkswagen terá uma nova família de carros no Brasil a partir de 2023. O primeiro modelo será o Polo Track, que substituirá o Gol e será fabricado em Taubaté (SP). Toda a família utilizará a plataforma MQB (modular), já usada nos atuais modelos Polo, Virtus, T-Cross, Nivus e Taos (este último fabricado na Argentina). A nova família faz parte de um novo ciclo de investimentos, de R$ 7 bilhões, até 2026.
</p>


<p>
O anúncio do investimento foi feito nesta sexta-feira (5), por meio de uma entrevista coletiva virtual com o presidente da Volkswagen do Brasil, Pablo Di Si. O CEO global da Volkswagen, Ralf Brandstätter, enviou uma mensagem (veja abaixo). A Volks não detalhou o plano de investimentos, mas é certo que quase todo o valor será aplicado no Brasil e na Argentina para a produção da nova família de carros.
</p>